<div class="container-fluid">
    <h1 class="header">URL Shortener Microservice</h1>
    <h3>Example creation usage:</h3>
    <code>https://little-url.herokuapp.com/new/https://www.google.com</code>
    <h3>Example creation output</h3>
    <code>
        {
            "original_url":"https://www.google.com",
            "short_url":"https://little-url.herokuapp.com/2871"
        }
    </code>
    <h3>Usage:</h3>
    <code>https://little-url.herokuapp.com/2871</code>
    <h3>Will redirect to:</h3>
    <code>https://www.google.com/</code>
</div>